<div>
  <div class="contents">
    <table>
      <tr *ngFor="let row of array; let i = index">
      <td *ngFor="let column of array; let f = index" id="{{'input' + (f + (i*9))}}" appMoveToNext>
          <input class="inputnum" id="{{'input#' + (f + (i*9))}}" appAcceptOnlyOne appPreventNumberScroll type="number" [(ngModel)]="sudoku[i][f]"
            #column="ngModel" min="0" max="9">
        </td>
      </tr>
    </table>
    <div>
      <p class="solved" *ngIf="isSolved">Here is the solved sudoku!!</p>
  <p class="solved incorrect" *ngIf="!isGivenCorrect">The Sudoku is Incorrect!!</p>
      <button mat-stroked-button [disabled]="isSolved || !isGivenCorrect" (click)="sudokuSolver()">Get Solution</button>
      <button mat-stroked-button [disabled]="isSolved || !isGivenCorrect" (click)="loadExample()">Load Example</button>
      <button mat-stroked-button *ngIf="isSolved || !isGivenCorrect" (click)="reloadSudoku()">Try Another</button>
    </div>
  </div>
</div>